# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/modules.xml
/contentModel.xml
/.idea.Project0.iml
# Datasource local storage ignored files
/../../../../../../../../:\Users\djcha\RiderProjects\Project0\.idea\.idea.Project0\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
